@import "tailwindcss";
@layer base {
  :root {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;

    --card: 222.2 47.4% 13%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 47.4% 13%;
    --popover-foreground: 210 40% 98%;

    --primary: 217.2 91.2% 60.4%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 242 83% 70%;
    --secondary-foreground: 210 40% 98%;

    --muted: 222.2 47.4% 16%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 142.1 70.6% 45.3%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 18.97%;
    --input: 217.2 32.6% 18.97%;
    --ring: 217.2 91.2% 60.4%;

    --radius: 0.9rem;
  }

  .dark {
    /* will adjust theme later */
  }

  *,
  *::before,
  *::after {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
